* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Sacramento", cursive; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */

  /* background-color: black; */
}

header {
  /* max-width: 1100px; */

  margin: 0 auto;
}

p {
  color: lightgray;
  font-size: 1.2rem;
}

/* HEADER SECTION */

.header-container {
  display: flex;
  justify-content: center;

  color: white;

  background-image: linear-gradient(
    to right,
    rgba(1, 27, 86, 0.7),
    rgba(0, 76, 255, 0.522)
  );
}

.header-container-article {
  width: 50%;
  margin-left: 5%;
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
}

.header-container-title {
  margin-bottom: 3%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.title-welcome {
  min-width: 350px;
  flex: 1 4 0;
}
.title-name {
  flex: 2 1 0;
}

.colored-text {
  color: rgb(1, 27, 86);
}

.header-container-description {
  margin-bottom: 3%;
}

.header-container-p {
  margin-top: 3%;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

.link-button {
  width: 200px;
  text-align: center;
  text-decoration: none;
  padding: 13px 50px;
  font-weight: bolder;
  color: white;
  /* border-radius: 15px; */
  background-color: rgb(1, 27, 86);
}

.header-image-img {
  width: 110%;
}

/* EXPERIENCE AREA */

.qualification-area {
  margin: 5% 0 10% 0;
}

.qualification-area-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.qualification-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: stretch;
}

.education,
.skills {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;

  border-radius: 20px;
  box-shadow: 10px 10px 40px gray;
}

.education {
  margin-right: 150px;
  border-top: 10px solid blue;
}

.skills {
  border-top: 10px solid orangered;
}

#edu-title,
#skill-title {
  align-self: center;
  padding: 20px;
}

.edu-items,
.skill-items {
  /* list-style-type: none; */
  padding: 0 0 20px 70px;
  /* font-size: 1.2rem; */
}

li {
  line-height: 2rem;
  font-weight: 400;
}

li small {
  font-style: italic;
}

/* FOOTER SECTION */

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.ft-header {
  padding: 20px 0 10px;

  font-size: 1.5rem;
  color: rgb(0, 76, 255);
}

.ft-p {
  margin-bottom: 0 0 10px;
}

footer img {
  width: 50px;
}

footer li {
  display: inline-block;
}

@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .header-image {
    width: 80%;
    align-self: center;
  }
  .header-container-title {
    margin-bottom: 10%;
    margin-left: 80px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  .title-welcome {
    position: relative;
    right: 100px;
  }

  .header-container-description {
    margin-bottom: 10%;
    position: relative;
    left: 80px;
  }

  .link-button {
    position: relative;
    left: 80px;
  }

  .qualification-container {
    display: flex;
    flex-direction: column;
  }

  .education,
  .skills {
    position: relative;
    margin: 5% auto;
  }

  .education,
  .skills {
    height: 100%;
    width: 80%;

    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
  }
}
